@model IEnumerable<JobBoard.DataLayer.Application>

@{
    /**/

    ViewBag.Title = "Index";
}
@using JobBoard.DataLayer
<div class="container">
    <h2>Index</h2>



    <table class="table">
        <tr>
            <th>
                Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpenPosition.Position.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ManagerNotes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationStatu.StatusName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResumeFileName)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            string idtext = "TableItem" + @Html.DisplayFor(modelItem => item.ApplicationID);
            <tr id="@idtext">
                <td>
                    @Html.DisplayFor(modelItem => item.UserDetail.FirstName) @Html.DisplayFor(modelItem => item.UserDetail.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OpenPosition.Position.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApplicationDate)
                </td>
                <td class="ManagerNotes">
                    @Html.DisplayFor(modelItem => item.ManagerNotes)
                </td>
                <td class="StatusName">
                    @Html.DisplayFor(modelItem => item.ApplicationStatu.StatusName)
                </td>
                <td>
                    <a href="@Html.DisplayFor(modelItem => item.ResumeFileName)">Download Resume</a>

                </td>
                <td>
                    @*@Html.ActionLink("Edit", "Edit", new { id = item.ApplicationID }, new { @class = "btn btn-primary" }) |*@
                    <div class="btn btn-primary AjaxEdit" data-DBID="@Html.DisplayFor(modelItem => item.ApplicationID)">Edit</div> |
                    @Html.ActionLink("Details", "Details", new { id = item.ApplicationID }, new { @class = "btn btn-primary" }) |
                    <div class="btn btn-danger AjaxDelete" data-DBID="@Html.DisplayFor(modelItem => item.ApplicationID)">Delete</div>
                    @*@Html.ActionLink("Delete", "Delete", new { id = item.ApplicationID }, new { @class = "btn btn-danger" })*@
                </td>
            </tr>
        }

    </table>
</div>
<!-- The Modal -->
<div id="EditModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>

        @using (Html.BeginForm("", "", FormMethod.Post, new { id = "EditFourm" }))
        {
            <input id="EditTarget" name="id" type="hidden" value="1" />
            @*@Html.Hidden("id", 1)*@
            @Html.AntiForgeryToken()
            <input id="AjaxEditFourmText" name="comment" type="text">
            <br>
            <select id="StatusNameSelector" name="statusId">
                @using (JobBoardEntities db = new JobBoardEntities())
                {
                    foreach (var item in db.ApplicationStatus1.ToList())
                    {
                        <option value=@item.ApplicationStatusID>@item.StatusName</option>
                    }

                }
            </select>
            <br>
            <input id="AjaxEditFourmSubmit" type="submit" value="Submit">
        }
    </div>

</div>

<style>
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content/Box */
    .modal-content {
        background-color: #fefefe;
        margin: 15% auto; /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 80%; /* Could be more or less, depending on screen size */
    }
</style>

@section Scripts{
    <script>
        $(".AjaxEdit").click(
            function (e) {
                let itemID = $(this).attr("data-DBID");
                let editScreen = $("#EditModal");
                //let hiddenIDfield = editScreen.children("#id");
                //let hiddenIDfield = $("EditTarget");
                let hiddenIDfield =  document.getElementById("EditTarget");
                hiddenIDfield.value = itemID;
                editScreen.show();
            }
        )
        $("#EditFourm").submit(
            function (e) {
                e.preventDefault();
                let EditFourm = $("#EditFourm");
                let toSend = EditFourm.serializeArray();
                console.log(toSend);
                $.ajax({
                    url: "@Url.Action("AjaxEdit","Applications")",
                    type: "POST",
                    data: toSend
                });
                $("#EditModal").hide();
                //$("#AjaxEditFourmText");
                let textForTableRowID = "#TableItem" + toSend[0].value;
                let tableRow = $(textForTableRowID);
                let managerNotes = tableRow.children(".ManagerNotes")[0];
                managerNotes.innerText = toSend[2].value;
                let StatusName = tableRow.children(".StatusName")[0];
                //let StatusNameSelector = $("#StatusNameSelector");
                let StatusNameSelector = document.getElementById("StatusNameSelector");
                //.selectedIndex
                //.value
                StatusName.innerText = StatusNameSelector.options[StatusNameSelector.selectedIndex].innerText;

            }
        )
        $(".AjaxDelete").click(function (e) {
            let itemID = $(this).attr("data-DBID");
            let AntiForgeryToken = '@Html.AntiForgeryToken()';
            let patt = /value="(.+)"/;
            
            AntiForgeryToken=AntiForgeryToken.match(patt, AntiForgeryToken)[1];
            $.ajax({
                url: "@Url.Action("AjaxDelete", "Applications")",
                type: "POST",
                data:  [
                    { name: "id", value: itemID },
                    { name: "__RequestVerificationToken", value: AntiForgeryToken}
                    ]
            });
            let textForTableRowID = "#TableItem" + itemID;
            $(textForTableRowID).remove();
        });
    </script>
}