@model IEnumerable<JobBoard.DataLayer.Location>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LocationName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Latitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Longitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            Manager Name
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LocationName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Latitude)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Longitude)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserDetail.FirstName)  @Html.DisplayFor(modelItem => item.UserDetail.LastName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.LocationID }) |
            @Html.ActionLink("Details", "Details", new { id = item.LocationID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.LocationID })
        </td>
    </tr>
}

</table>
