@model IEnumerable<JobBoard.DataLayer.Position>

@{
    ViewBag.Title = "Index";
}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">

@section Scripts {
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#table').DataTable();
        });
    </script>>
}

<div class="container">


    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create", "Positions", routeValues: null, htmlAttributes: new { @class= "btn btn-primary" })
    </p>
    <table id="table" class="table display">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.PhotoFileName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Category.CategoryName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.JobDescription)
                </th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhotoFileName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category.CategoryName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.JobDescription)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.PositionID }, new { @class = "btn btn-primary" }) |
                        @Html.ActionLink("Details", "Details", new { id = item.PositionID }, new { @class = "btn btn-primary" }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.PositionID }, new { @class = "btn btn-danger" })
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>
